*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    color: #14171A;
}

/*Estilos generales*/

.image-container{
    display: flex;
}

.image-container img {
    width: 100%;
}

/*Estilos del header*/

header{
    background-color: #131925;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
.projects{
    list-style: none;
}

.button{
    padding: 5px 10px;
}

.button a {
    color: #fff;
    text-decoration: none;
}

.button:hover{
    background-color: #006eb3;
    padding: 7px 10px;
    border-radius: 10px;
}


#logo{
    width: 50px;
}
#logo img {
    border-radius: 100%;
}

#hero{
    position: relative;
}

#hero #montanas{
    display: inline-block;
    width: 100%;
}

#hero .info-container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 50px;
}

.foto-perfil{
    width: 200px;
}

.foto-perfil img {
    width: 200px;
    border-radius: 100%;
}

.info-container .info {
    margin-left: 20px;
    font-weight: bold;
}

.info-container .info span{
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}

/*Estilos del main*/

main{
    padding: 60px 100px 100px 100px;
}

main .presentation-box{
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li {
    margin-left: 8px;
    
}

main .social-icons .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-color: red;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.social-icon img{
    width: 24px;
    height: 24px;
}
.social-icon svg{
    width: 24px;
    height: 24px;
    fill: #12151C;
}

main .social-icons #LinkedIn{
    background-color: #0077b0;
}
main .social-icons #Github{
    background-color: #23272d;
}
main .social-icons #X{
    background-color: #14171A;
}
main .social-icons #X img{
    width: 24px;
    height: 24px;
    background-color: #14171A;
}
main .social-icons #Platzi{
    background-color: #09E285;
}

/*Tecnologias section*/

main .technologies {
    margin-top: 30px;
    padding: 0px;
}

main .technologies h2{
    text-align: center;
    padding: 10px 0px;
}
main .techs-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main .tech-card{
    height: 200px;
    width: 22%;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin: 7px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

main .tech-card img {
    height: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#html img{
    height: 100px;
}

#css img{
    height: 100px;
}

.projects-grid{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.see-project-button{
    background-color: #e4e4e4; 
    transition: background-color 0.4s ease-in-out;
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    font-weight: 600;
    border-radius: 7px;
}

.see-project-button a{
    text-decoration: none;
    color: #14171A;
}

.see-project-button a:visited{
    text-decoration: none;
    color: #14171A;
}

.see-project-button:hover{
    background-color: #cfcfcf;
    transition: background-color 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
    header{
        padding: 10px 35px;
    }
    #logo{
        width: 45px;
    }

    #hero .info-container {
        flex-direction: row;
        top: 50%;   
    }
    .info-container .info{
        margin-left: 30px;
        text-align: left;
    }
    .info-container .info span{
        margin-bottom: 30px;
    }

    #hero #montanas{
        background: url('/assets/hero_image.jpg');
        display: inline-block;
        height: 320px;
    }

    .foto-perfil{
        width: 150px;
    }
    .foto-perfil img{
        width: 150px;
    }
    main{
        padding: 40px;
    }
    main .tech-card{
        width: 47%;
    }
    main .tech-card img{
        height: 100px;
    }
    #html img {
        height: 80px;
    }
    #css img {
        height: 80px
    }
    main .technologies h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 570px) {
    *{
        font-size: 15px;
    }
    #hero #montanas img{
        display: none;
    }
    main .tech-card{
        width: 45%;
    }
}

@media screen and (max-width: 375px) {
    *{
        font-size: 15px;
    }
    header{
        padding: 10px 15px;
    }
    #logo{
        width: 37px;
    }

    #hero .info-container {
        flex-direction: column;
        top: 50%;   
    }
    .info-container .info{
        margin-left: 0px;
        text-align: center;
    }
    .info-container .info span{
        margin-bottom: 10px;
    }

    #hero #montanas{
        background: url('/assets/hero_image.jpg');
        display: inline-block;
        height: 320px;
    }
    #hero #montanas img{
        display: none;
    }
    .foto-perfil{
        width: 100px;
    }
    .foto-perfil img{
        width: 100px;
    }
    main{
        padding: 20px;
    }
    main .tech-card{
        width: 45%;
    }
    main .tech-card img{
        height: 70px;
    }
    #html img {
        height: 60px;
    }
    #css img {
        height: 60px;
    }
    main .technologies h2 {
        font-size: 20px;
    }
}
